@use "./function";
@use "./variables" as *;

@mixin tablet {
  @media (min-width: $medium) and (max-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
@mixin height {
  @media screen and (min-height: $height) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobiles) {
    @content;
  }
}
