html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: auto;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* Dùng cho Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px; /* độ rộng */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* màu nền */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* màu thanh cuộn */
  border-radius: 4px; /* bo góc */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(181, 209, 82) b80;
  border-radius: 50px;
}

/* Dùng cho Firefox */
html {
  scrollbar-width: thin; /* thin, auto, none */
  scrollbar-color: #ebcb80 #f0f0f0;
}

body {
  height: auto;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #4b4b4b;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
.sections {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
}
