@use '../abstracts/' as *;

@font-face {
  font-family: 'Poppins Regular';
  src: local('Poppins Regular'), local('Poppins Regular'),
    url('../../asset//fonts/Poppins-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins Bold';
  src: local('PoppinsBold'), local('Poppins Bold'),
    url('../../asset/fonts/Poppins-Bold.ttf') format('truetype');
  font-display: swap;
}

body {
  font-family: $regular-font;
  width: 100%;
  margin: 0 auto;
}
